*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --header-bg-color: #fff;       /* колір фона заголовка */
  --header-border-color:#ECECEC; /*header-border-color  */
  --header-text-color: #333;     /* колір заголовка */
  --header-header-item-two-last:#757575; 
  --primary-color: #2196F3;      /* header-item a:hover */ 
  --content-up-bg-color: #2F303A;     /* посуті те саме header-text-color */ 
  --content-up-color: white;          /* content-up-color */
  --button1-bg-color: #007BFF;      /* button1  */
  --button1--color: white;          /* button1  */
  --button1-bg-color-hover:#0056b3; /* button1-bg-color-hover */ 
  --services-item-h3-color:#212121;   /* services-item-h3 */
  --services-item-a-color: #757575;   /*services-item-a  */
  --foto-bg-color:#ffffff;      /* Чим займаємось */
  --foto-color:#212121;
  --my_teams-bg-color:#F5F4FA; /* Наша команда */
  --my_team-color:#212121;
  --my_teams-p-color:#757575;/* Наша команда */
  --footer-bg-color: #2F303A;/*footer */
  --footer-a-bg: rgba(255, 255, 255, 0.1);
  --footer-color: white;   /*  footer*/
  --address-a-color:#ffff; /*  footer*/
  --address-a2-color: gray;/*  footer*/
  --blue-color:#007bff;  /* (Web)Studio footer */ 
  --white-color:#ffffff; /* Web(Studio) footer*/
  --black-color:#000000; /* Web(Studio) header*/
  --clients-li--ul-hover:#2196F3;
  --bg-bnt-intup-email: #2196F3;
 --bg-intup-email: #2F303A;
 --bnt-intup-email-color: #fff;
 --clients-h2-color: #212121;

/* PORTFOLIO  */
  --button-pt-bg-color: #F5F4FA;/*  */
  --button-pt-color: #212121;   /*  */
  --button-pt-hover-bg-color:#2196F3;/*  */
  --button-pt-hover-color:#FFFFFF;/*  */
  --my-shop-bg-color:#fff; /*  */
  --poster-border:#EEEEEE;/*  */
  --poster-p-color:#757575; /*  */
  --services-item-icon-color: #F5F4FA;  /*  */ 
  --my_teams-li-color  :#fff; 
  
  --footer-social-a-hover-img: #2196F3;
  --poster-h3:#212121;

  /*  */
  --clients-bg-color: #FFF;
  --footer--i: #FFF;

} 
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
h1,h2,h3,h4,p,ul,li,a,button{
  margin: 0;
  padding: 0;
}
body {
font-family:  'Roboto', sans-serif;
 background-color:var(--header-bg-color);
 color:var(--poster-p-color);
 font-size:14px ;
 line-height: 1.7;
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.header {
  background-color: var(--header-bg-color);
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: var(--header-border-color);
  /* border: 1px; */
}



.logo {
  margin-right: 93px ;
  font-size: 24px;
  font-family: 'Raleway';
}

.header-wrap{
  display: flex; /* робить контейнер гнучким */
  align-items: center;  /* розміщує ПО ГОРИЗОНТАЛІ*/
  
}
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list:last-of-type {
  margin-left: 215px ;
 
  color: var(--header-header-item-two-last);
}
.header-item {
  position: relative; 
  display: inline-block;
  padding-bottom: 5px; 
  
}
.header-item a {
  color: var(--header-text-color);
  font-weight: 500;
  transition: color 1s ease;
  font-size: 15px;
  /* position: relative; */
  text-decoration: none; 
  padding: 10px 15px;  
  
}

.overlay {
  position: absolute;
  margin-bottom: 30px;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background-color: var(--primary-color);
  transition: width 0.3s ;
  
}

.header-item:hover .overlay {
  width: 100%; margin-top: 25px;
}

.header-list {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  list-style: none;            
  padding: 0;
  margin: 0;
}

.header-item img{
  color: #757575;
  flex-shrink: 0;
  margin-right: 6px
}
.header-item a:hover {
  color: var(--primary-color);
}



.content-up {
  /* background-color: var(--content-up-bg-color); */
  background-image: url(./img/img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1600px;
  height: 600px;
  display: block;
  margin: 0 auto;

  color: var(--content-up-color);
  padding: 180px 20px;
  text-align: center;

}
.content-up h2 {
font-size: 44px;
}

.just-btn {
  background-color: var(--button1-bg-color);
  color:var(--button1--color);
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  
}

.just-btn:hover {
  background-color: var(--button1-bg-color-hover);
}
 /* Особливості  */
.services{
  margin-top: 94px;
  margin-bottom: 94px;
}
.services-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

}
.services-item{
 max-width: 350px;
 margin: 60px auto; 
 position: relative;
 padding-top: 85PX;

}

.services-item-h3{
  color: var(--services-item-h3-color);
  font-size: 14px;
  line-height: 16.41px;
}
.services-item-a{
  color: var(--services-item-a-color);
  font-size: 14px;
  line-height: 24px;
  padding-top: 10px;
}

p.services-item-a {
  width: 270px;
  height: 72px;
  flex-shrink: 0;
}
.services-item-icon{
  background-color: var(--services-item-icon-color) ;
  width: 270px;
  height: 120px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  
  bottom: 110px;
  padding-right: 30px;

}
.services-item-icon img{
  width: 70px;
  height: 70px;
}

/* .services-item > img{
  
  width: 70px;
  height: 70px;
  background-color: #F5F4FA;
  margin: 25px 100px 25px 100px;
  padding: 10px 10px 10px 10px ;
  border-radius: 2px; 
  display: inline-block;
} */
/* .services-item:nth-last-child(3n) {
  margin-right: 0;
} */

/* Чим займаємось  */
.foto{
  background-color: var(--foto-bg-color);
  color: var(--foto-color);
  padding: 40px 20px;
  text-align: center;
}
.foto h1{
  font-size: 36px;
}
.foto ul{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
  margin: 10px;

}

.foto-li-text{
position: absolute;
width: 370px;
background-color: rgba(0, 0, 0, 0.6); 
color: white;
padding: 10px;
font-size: 14px;
display: flex;
justify-content: center
}


/* Наша комaнда */
.my_teams {
  background-color: var(--my_teams-bg-color);
  color: var(--my_team-color);
  /* padding: 40px 20px; */
  text-align: center;

}
.my_teams h2{
  font-size: 36px;
  padding-top: 94px;
}
.my_teams ul {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: space-between; 
  padding-top: 50px;
 
}
.my-teams-social{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 30px;

}
.my-teams-social-a{
  /* background-color: var(--footer-a-bg) ; */
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.my-teams-social a:hover  {
  background-color: var(--footer-social-a-hover-img) ;

}
/* .instagram1 {
  width: 20px;height: 20px;
  background-image: url('./isymboldeftsmg/instagram1.svg');
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

.instagram1:hover {
  background-image: url('./symboldefts/instagram2.svg'); /
} */

.instagram1:hover {

  background-color: var(--footer-a-bg) ;

 
}

.my_teams li {
  margin: 10px; 
  text-align: center; 
  font-size: 16px;
  margin-bottom: 94px;
  
  border-radius: 0px 0px 4px 4px;
  background: var(--my_teams-li-color);
  height: 388px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);;
}
.my_teams p{
  color:var(--my_teams-p-color);
  font-size: 16px;
}

/* Постійні клієнти */

.clients{
  text-align: center;
  background-color: var(--clients-bg-color);
}

/* .clients- {
} */
.clients-menu {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  
}
.clients ul{
  display: flex;
}
.clients h2{
  margin-top: 94px;
  margin-bottom: 50px;
  color:var(--clients-h2-color) ;
  font-size: 36px;
}
.clients-li {
  width: 106px;
 height: 60px;
 flex-shrink: 0;
margin-right: 30px;
 margin-bottom: 94px;
 border: 1px  solid #AFB1B8;
 border-radius: 4px;
 
}
.clients-li:hover {
  color: var(--clients-li--ul-hover);


}
.clients ul:hover{
  color: var(--clients-li--ul-hover);
}

/* footer */

footer {
  background-color: var(--footer-bg-color) ;
  color:var(--footer-color) ;
  padding: 20px 0;
  text-align: left;
  
  
}
.logo-footer{
  margin-left: 30px;
  margin-top:  40px; 
  padding-right: 110px;
  font-size: 24px;
  font-family: 'Raleway';
}
.footer-- i{
  color:var(--footer--i) ;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-left: 110px;
}
address{
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 20px 0;
  width: 1200px;
}
address a {
  color: var(--address-a-color);
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}
.address-a2{
  color:var(--address-a2-color) ;
  }
address li {
  list-style: none; 
  margin-bottom: 10px;
  margin-left: 25px;
  width: 231px;
  font-style: normal;
}
.blue {
  color:var(--blue-color);
  font-size: 26px;
  font-weight: 700;
  font-family: 'Raleway';
  line-height: normal;
  letter-spacing: 0.78px;
}
.white {
  color:var(--white-color) ; 
  font-size: 26px;
  font-weight: 700;
  font-family: 'Raleway';
  line-height: normal;
  letter-spacing: 0.78px;
}
.black{
  color:var(--black-color) ;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Raleway';
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-social {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right:825px;
 
}
.footer-a  {
    background-color: var(--footer-a-bg);
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    
}
.footer-social a:hover  {
  background-color: var(--footer-social-a-hover-img) ;
}

#intup-email{
  margin: 0px -785px;
  background-color: var(--bg-intup-email);
  border: 1px solid rgba(255, 255, 255, 0.3);
width: 358px;
height: 50px;
}  
.bnt-intup-email{
  margin-left: 820px;
  align-items: center;  
  display: inline-flex; 
  justify-content: center;
  border-radius: 4px;
  /* width: 200px;
  height: 50px; */
  padding: 10px 20px ;
  background: var(--bg-bnt-intup-email); 
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
  color: var(--bnt-intup-email-color);
}
.bnt-intup-email img{ 
  padding-left: 10px;
}
/* PORTFOLIO */

.figures{
margin-left: 300px;
padding: 20px 25px;
}
.button-pt{
  background-color:var(--button-pt-bg-color);
  color:var(--button-pt-color);
  border-radius: 4px;
  padding: 10px 27px;
  font-weight: 500;
  cursor: pointer;
  border: 0px;
}
.button-pt:hover{
  background-color:var(--button-pt-hover-bg-color);
  color:var(--button-pt-hover-color); 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.my-shop{
  background-color:var(--my-shop-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;                           /*dodalem */
  padding: 20px 0;                     /*dodalem */
 
}
.my-shop ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
}

.poster{
  width: 370px;
  height: 404px;
  border: 1px solid var(--poster-border);
  margin: 2px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}
.poster:hover{
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.poster h3 {
  color:var(--poster-h3) ;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
}

.poster p {
  color: var(--poster-p-color);
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 20px;
}